pre {
  font-size: 10px;
  font-family: 'Ubuntu Mono';
} 

.footnote-reference {
  margin-left: -2px; 
  vertical-align: super;
}

html body h2 {
  font-size: 20pt;
  string-set: heading content(); 
}
